html,
body {
    padding: 1em;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html * {
    color: green;
    font-size: 18px;
    text-shadow: 0.2px 1.2px 1px #C8C8C8;
    font-family: Inconsolata, monospace;

}

* {
    box-sizing: border-box;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

table,
th,
td,
tr,
tbody {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

td{
    padding: 0.1px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    background: linear-gradient(90deg, #ff0000 1%, #ff0088 8%, #ff00ff 16%, #8800ff 24%, #0000ff 32%, #0088ff 40%, #00ffff 48%, #00ff88 56%, #00ff00 64%, #88ff00 72%, #ffff00 80%, #ff8800 88%, #ff0000 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: none;
}

body {
    content: "";
    position: absolute;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 100vh;
}

body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(128, 41, 41, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 3px;
    z-index: 2;
    pointer-events: none;
}

pre {
    font-size: 2px;
    position: absolute;
    top:0;
    left: 0;
}

::selection {
    background: none;
}

::-webkit-scrollbar {
    width: 0.15em;
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.308);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    /** etc */
}


@keyframes scanline {
    0% {
        bottom: 100%;
    }

    80% {
        bottom: 100%;
    }

    100% {
        bottom: 0%;
    }
}