.container {
  background-color: black;
  height: 60vh;
  width: 70vw;  
  position: relative;
  display: flex;
  flex-direction: column;
  color: green;
  padding: 1em;
  border: 2px solid gray;
  overflow: overlay scroll;
  overflow-x: hidden;
}


.header {
  position: fixed;
  top:0.6em;
  font-size: 13px;
  right: 1em;
}
