.container {
  background-color: black;
  height: 60vh;
  width: 70vw;  
  position: relative;
  display: flex;
  flex-direction: column;
  color: green;
  padding: 1em;
  border: 2px solid gray;
  overflow: overlay scroll;
  overflow-x: hidden;
  background-image: radial-gradient(ellipse, #05321e 0%, #050505 90%);
}


.header {
  position: fixed;
  top:0.6em;
  font-size: 13px;
  right: 1em;
}


.finalScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.521);
}

.finalScreen *{
  font-size: 30px !important;
}


@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  /** etc */
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(107, 107, 107, 0) 0%,
      rgba(255, 255, 255, 0.301) 50%,
      rgba(122, 122, 122, 0.1) 100%
  );
  opacity: 0.3;
  position: fixed;
  bottom: 100%;
  animation: scanline 7s linear infinite;
}

@keyframes scanline {
  0% {
      bottom: 100%;
  }
  80% {
      bottom: 100%;
  }
  100% {
      bottom: 0%;
  }
}